<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CubeFood</title>
    <link rel="icon" href="{{ url_for('static', filename='images/head_icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin_account.css') }}">
</head>

<header>
    <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='images/logo.png') }}">
    </a>
</header>

<body>
    <div class="info_window">
        <div class="block_title">
            <h2>Аккаунт</h2>
        </div>

        <img src="{{ url_for('static', filename='images/admin_icon.png') }}" id="admin_icon">

        <div class="text_info">
            <h3>{{ admin.fio }}</h3>
            <h4>{{ admin.login }}</h4>
        </div>

        <hr>
        <div class="block_title">
            <h2>Управление работниками</h2>
        </div>

        <div class="switch_action">


            <div class="btns">
                <button class="change_managers">Управление менеджерами</button>
                <button class="change_cooker">Управление начальником кухни</button>
            </div>


            <br>
            <!-- форма управления менеджерами -->
            <div class="managers_form">

                <div class="block_title">
                    <h3>Назначить менеджера</h3>
                </div>

                {% if users %}
                {% for user in users %}
                <div class="add_manager">
                    <form action="/add_manager" method="post">
                        <input id='userFioForAdd' type="text" name="userFioForAdd" value="{{ user.fio }}" readonly>
                        <input id='userLoginForAdd' type="text" name="userLoginForAdd" value="{{ user.login }}"
                            readonly>
                        <button type="submit">Добавить</button>
                    </form>
                </div>
                {% endfor %}
                {% else %}
                <h5 class="no_user_to_set_label">Нет работников, ожидающих получение роли</h5>
                {% endif %}

                <div class="block_title">
                    <h3>Удалить менеджера</h3>
                </div>

                <div class="remove_manager">
                    <form action="/remove_user" method="post">
                        <input type="text" name="userLoginForRemove" id="userLoginForRemove" placeholder="Login">
                        <button type="submit">Удалить</button>
                    </form>
                </div>
            </div>






            <!-- форма управления начальником кухни -->
            <div class="cooker_form">
                <div class="block_title">
                    <h3>Текущий начальник кухни</h3>
                </div>

                <div class="change_cooker">
                    <form>
                        {% if cooker %}
                        <input id='cookerFio' type="text" name="cookerFio" value="{{ cooker.fio }}" readonly>
                        <input id='cookerLogin' type="text" name="cookerLogin" value="{{ cooker.login }}" readonly>
                        {% else %}
                        <h5 class="no_user_to_set_label">В данный момент начальник кухни не назначен</h5>
                        {% endif %}
                    </form>

                    <div class="block_title">
                        <h3>Заменить начальника кухни</h3>
                    </div>

                    {% if users %}
                    {% for user in users %}
                    <div class="change_cooker" id="change_cooker">
                        <form action="/change_cooker" method="post">
                            <input id='userFioForChange' type="text" name="userFioForChange" value="{{ user.fio }}"
                                readonly>
                            <input id='userLoginForChange' type="text" name="userLoginForChange"
                                value="{{ user.login }}" readonly>
                            <button type="submit">Назначить</button>
                        </form>
                    </div>
                    {% endfor %}
                    {% else %}
                    <h5 class="no_user_to_set_label">Нет работников, ожидающих получение роли</h5>
                    {% endif %}
                </div>
            </div>



        </div>






    </div>

    <script src="{{ url_for('static', filename='scripts/admin_account.js') }}"></script>
</body>

</html>