<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CubeFood</title>
    <link rel="icon" href="{{ url_for('static', filename='images/head_icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/manager_account.css') }}">
</head>

<header>
    <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='/images/logo.png') }}">
    </a>
</header>

<body>
    <img class="telegram_bot" src="{{ url_for('static', filename='images/telegram_bot_icon.png') }}">

    <div class="info_window">
        <div class="block_title">
            <h2>Аккаунт</h2>
        </div>

        <img src="{{ url_for('static', filename='images/manager_icon.png') }}" id="admin_icon">
        <div class="text_info">
            <h3>{{ manager.fio }}</h3>
            <h4>{{ manager.login }}</h4>
        </div>

        <hr>
        <div class="block_title">
            <h2>Добавить работника</h2>
        </div>

        {% if users %}
        {% for user in users %}
        <div class="do_worker add_worker">
            <form action="/add_worker" method="post">
                <input id='workerFioForAdd' type="text" name="workerFioForAdd" value="{{ user.fio }}" readonly>
                <input id='workerLoginForAdd' type="text" name="workerLoginForAdd" value="{{ user.login }}" readonly>
                <button type="submit">+</button>
            </form>
        </div>
        {% endfor %}
        {% else %}
        <h5 class="no_worker_to_add_label">Нет работников, ожидающих получение роли</h5>
        {% endif %}

        <div class="block_title">
            <h2>Удалить работника</h2>
        </div>

        <div class="do_worker remove_worker">
            <form action="/remove_worker" method="post">
                <input type="text" name="workerLoginForRemove" id="workerLoginForRemove" placeholder="Login">
                <button type="submit">Удалить</button>
            </form>
        </div>



        <hr>
        <div class="block_title">
            <h2>Меню</h2>
        </div>

        <h5>Процент загруженности ресторана: {{ busy }}</h5>

        <div class="menu">
            {% for dish in dishes %}

            <div class="menu-item">
                <img class="menu-item-image" src="data:image/jpeg;base64,{{ dish.photo }}" />
                <div class="text-shadow"></div>
                <h3 class="menu-item-title">{{ dish.title }}</h3>
                <p class="menu-item-description">{{ dish.structure }} каллорий</p>
                <p class="menu-item-price">{{ dish.cost }}₽</p>
                {% if dish.scores.len > 0 %}
                <p class="menu-item-score">{{ dish.scores.sum / dish.scores.len }}★</p>
                {% endif %}
                <button class="add-to-cart-btn-plus"
                    onclick="addToCart('{{ dish.title }}', '{{ dish.cost }}', '{{ dish.photo }}', '{{ dish.structure }}')">+</button>
            </div>

            {% endfor %}
        </div>

        <img class="open_cart" src="{{ url_for('static', filename='images/cart_icon.png') }}"
            onclick="toggleCartPopup()" />

        <!-- Всплывающее окно с корзиной -->
        <div class="cart-popup">
        </div>
    </div>

    <div class="mute"></div>
    </div>

    <script src="{{ url_for('static', filename='scripts/manager_account.js') }}"></script>
</body>

</html>