<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="icon" href="{{ url_for('static', filename='images/head_icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin_account.css') }}">
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Логотип компании">
        <h1 class="company_name">CubeFood</h1>
        <a href='/' class="double-border-button">Выйти</a>
    </header>
    <table>
        <tr>
            <td>
                <main>
                    <section class="section_with_info">
                        <img id="admin_img" src="{{ url_for('static', filename='images/admin_icon.png') }}"
                            alt="Аватар администратора">
                        <div class="admin_info">
                            <h2>{{ admin.fio }}</h2>
                            <h3>{{ admin.login }}</h3>
                            <h3>{{ admin.office_name }}</h3>
                            <h3>{{ address }}</h3>
                        </div>
                        <div>
                            <h2>Сделать заказ</h2>
                            <h4>В вашем офисе ест N человек</h4>
                            <button class="order_button">Сделать заказ</button>
                        </div>
                    </section>
                </main>
            </td>
            <td>
                <main>
                    <section>
                        <h2>Добавить работника</h2>
                        <form action="/add_worker" method="post" id="add_worker_form">
                            <label for="workerLoginForAdd">Логин</label>
                            <input type="text" id="workerLoginForAdd" name="workerLoginForAdd" required>
                            <input type="submit" value="Добавить">
                        </form>
                    </section>
                    <section>
                        <h2>Удалить работника</h2>
                        <form action="/delete_worker" method="post" id="delete_worker_form">
                            <label for="workerLoginForDel">Логин</label>
                            <input type="text" id="workerLoginForDel" name="workerLoginForDel" required>
                            <input type="submit" value="Удалить">
                        </form>
                    </section>
                </main>
            </td>
        </tr>
    </table>
</body>

</html>