<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CubeFood</title>
    <link rel="icon" href="{{ url_for('static', filename='images/head_icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin_account.css') }}">
</head>

<header>
    <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='images/logo.png') }}">
    </a>
</header>

<body>
    <div class="info_window">
        <div class="block_title">
            <h2>Аккаунт</h2>
        </div>

        <img src="{{ url_for('static', filename='images/admin_icon.png') }}" id="admin_icon">
        
        <div class="text_info">
            <h3>{{ admin.fio }}</h3>
            <h4>{{ admin.login }}</h4>
        </div>

        <hr>
        <div class="block_title">
            <h2>Добавить работника</h2>
        </div>
        
        {% if users %}
            {% for user in users %}
                <div class="set_role">
                    <form action="/set_role" method="post">
                        <input id='userFioForSet' type="text" name="userFioForSet" value="{{ user.fio }}" readonly>
                        <input id='userLoginForSet' type="text" name="userLoginForSet" value="{{ user.login }}" readonly>
                        <select name="roleSelect" id="roleSelect">
                            <option value="manager">Менеджер</option>
                            <option value="cooker">Начальник кухни</option>
                        </select>
                        <button type="submit">Добавить</button>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <h5 class="no_user_to_set_label">Нет работников, ожидающих получение роли</h5>
        {% endif %}
        
    </div>
</body>

</html>