<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Авторизация</title>
    <link rel="icon" href="{{ url_for('static', filename='images/Вечная классика.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/__fonts__.css') }}" />
  </head>
  <body>
    <div class="container">
      <h1>ТЫ ЧЕ ЗАЛОГИЛЯ РЯЛЬАН?!?!??</h1>
    </div>
  </body>
</html>
