<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="icon" href="{{ url_for('static', filename='images/head_icon.png') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='styles/cooker_account.css') }}">
</head>

<body>
    <header>
       <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Логотип компании">
        <h1 class="company_name">CubeFood</h1>
        <a href='/' class="double-border-button">Выйти</a>
    </header>
    <table>
        <tr>
            <td id="td_with_info">
                <main>
                    <section class="section_with_info">
                        <img id="cooker_img" src="{{ url_for('static', filename='images/cooker_img.png') }}" alt="Аватар повара">
                        <div class="cooker_info">
                          <h2>{{ cooker.fio }}</h2>
                          <h3>{{ cooker.email }}</h3>
                        </div>
                    </section>
                </main>
            </td>
            <td>
                <main>
                    <section>
                        <h2>Заказы</h2>
                        <div class="order-list">
                            <div class="order-list-item">Элемент 1</div>
                            <div class="order-list-item">Элемент 2</div>
                            <div class="order-list-item">Элемент 3</div>
                            <div class="order-list-item">Элемент 4</div>
                            <div class="order-list-item">Элемент 5</div>
                            <div class="order-list-item">Элемент 6</div>
                            <div class="order-list-item">Элемент 7</div>
                            <div class="order-list-item">Элемент 8</div>
                            <div class="order-list-item">Элемент 9</div>
                            <div class="order-list-item">Элемент 10</div>
                        </div>
                    </section>
                </main>
            </td>
        </tr>
        <tr>
            <td>
                <main>
                    <section>
                        <h2>Добавить офис</h2>
                        <form action="/add_office" method="post" id="add_office_form">
                            <label for="officeFioForAdd">ФИО менеджера</label>
                            <input type="text" id="officeFioForAdd" name="officeFioForAdd" required>

                            <label for="officeEmailForAdd">Логин менеджера</label>
                            <input type="email" id="officeEmailForAdd" name="officeEmailForAdd" required>

                            <label for="officePasswordForAdd">Пароль</label>
                            <input type="text" id="officePasswordForAdd" name="officePasswordForAdd" required>

                            <label for="companyNameForAdd">Название компании</label>
                            <input type="text" id="companyNameForAdd" name="companyNameForAdd" required>

                            <label for="officeAddressForAdd">ФИО менеджера</label>
                            <input type="text" id="officeAddressForAdd" name="officeAddressForAdd" required>

                            <input type="submit" value="Добавить">
                        </form>
                    </section>
                </main>
            </td>
            <td>
                <main>
                    <section>
                        <h2>Удалить офис</h2>
                        <form action="/delete_admin" method="post" id="delete_admin_form">
                            <label for="adminEmailForDel">Адрес электронной почты</label>
                            <input type="email" id="adminEmailForDel" name="adminEmailForDel" required>

                            <input type="submit" value="Удалить">
                        </form>
                    </section>
                </main>
            </td>
        </tr>
    </table>
</body>

</html>
