<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CubeFood</title>
    <link rel="icon" href="{{ url_for('static', filename='images/head_icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cooker_account.css') }}">
</head>

<header>
    <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="CubeFood logo">
    </a>
</header>

<body>
    <div class="info_window">
        <div class="block_title">
            <h2>Аккаунт</h2>
        </div>

        <img src="{{ url_for('static', filename='images/cooker_icon.png') }}" alt="Admin Icon" id="admin_icon">

        <div class="text_info">
            <h3>{{ cooker.fio }}</h3>
            <h4>{{ cooker.login }}</h4>
        </div>




        <!-- блок управления заказами -->
        <hr>
        <div class="block_title">
            <h2>Управление заказами</h2>
        </div>

        {% if orders %}
            {% for order in orders %}
                    <div class="give_order">
                    {% if order.is_delivery %}
                        <form action="/give_order" method="post">
                    {% else %}
                        <form action="/set_order_status" method="post">
                    {% endif %}
                        <input id='orderId' type="text" name="orderId" value="{{ order._id }}" readonly style="display: none;">
                        {% if order.is_delivery %}
                            <input id='orderType' type="text" name="orderType" value="Доставка ({{ order.user_login }})" readonly>
                        {% else %}
                            <input id='orderType' type="text" name="orderType" value="Самовывоз ({{ order.user_login }})" readonly>
                        {% endif %}
                        <input id='orderDate' type="text" name="orderDate" value="{{ order.date }}" readonly>
                        <input id='orderCost' type="text" name="orderCost" value="{{ order.cost }}₽" readonly>
                        {% if not order.is_delivery %}
                            <select name="orderStatus" id="orderStatusNotLast">
                                {% if order.status == 'Готовится' %}
                                    <option value="Готовится" selected>Готовится</option>
                                    <option value="Выдан">Выдан</option>
                                {% else %}
                                    <option value="Готовится">Готовится</option>
                                    <option value="Выдан" selected>Выдан</option>
                                {% endif %}
                            </select>
                            <button type="submit">Изменить статус</button>
                        {% else %}
                            {% if order.deliverier == none %}
                                <select id="deliverierLogin" name="deliverierLogin">
                                    {% if deliveriers %}
                                        {% for deliverier in deliveriers %}
                                            <option value="{{ deliverier.login }}">{{ deliverier.fio }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="Нет курьеров для назначения!"></option>
                                    {% endif %}
                                </select>
                                {% if deliveriers %}
                                    <button type="submit">Назначить</button>
                                {% else %}
                                    <button type="submit" disabled>Назначить</button>
                                {% endif %}
                            {% else %}
                                <input id='orderStatus' type="text" name="orderStatus" value="{{ order.status }} ({{ order.deliverier }})">
                            {% endif %}
                        {% endif %}
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <h5>Сегодня еще не было заказов!</h5>
        {% endif %}







        <!-- блок управления курьерами -->
        <hr>
        <div class="block_title">
            <h2>Назначить курьера</h2>
        </div>

        {% if users %}
            {% for user in users %}
                <div class="add_deliverier">
                    <form action="/add_deliverier" method="post">
                        <input id='deliverierFioForAdd' type="text" name="deliverierFioForAdd" value="{{ user.fio }}" readonly>
                        <input id='deliverierLoginForAdd' type="text" name="deliverierLoginForAdd" value="{{ user.login }}" readonly>
                        <button type="submit">Назначить</button>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <h5 class="no_user_to_set_label">Нет работников, ожидающих получение роли</h5>
        {% endif %}

        <div class="block_title">
            <h2>Управление курьерами</h2>
        </div>

        {% if deliveriers %}
            {% for deliverier in deliveriers %}
                <div class="remove_deliverier">
                    <form action="/remove_deliverier" method="post">
                        <input id='deliverierFioForRem' type="text" name="deliverierFioForRem" value="{{ deliverier.fio }}" readonly>
                        <input id='deliverierLoginForRem' type="text" name="deliverierLoginForRem" value="{{ deliverier.login }}" readonly>
                        <button type="submit">Удалить</button>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <h5 class="no_user_to_set_label">В данный момент нет назначенных курьеров</h5>
        {% endif %}






        <!-- блок управления меню -->
        <hr>
        <div class="block_title">
            <h2>Добавление блюда</h2>
        </div>

        <div class="adding_dish">
            <form action="/add_dish" method="post" enctype="multipart/form-data">
                <label for="dishAddTitle">Название блюда</label>
                <input type="text" id="dishAddTitle" name="dishAddTitle" required>

                <label for="dishAddStructure">Энергетическая ценность (каллорий)</label>
                <textarea id="dishAddStructure" name="dishAddStructure" required></textarea>

                <label for="dishAddImage">Фото блюда</label>
                <input type="file" id="dishAddImage" name="dishAddImage" accept="image/*" required>

                <label for="dishAddCost">Стоимость блюда</label>
                <input type="text" id="dishAddCost" name="dishAddCost" required>

                <input type="submit" value="Добавить блюдо">
            </form>
        </div>




        <div class="block_title">
            <h2>Управление меню</h2>
        </div>

        <div class="menu_list">
            <table>
                <tr>
                    <th>Фото</th>
                    <th>Название</th>
                    <th>Стоимость</th>
                    <th>Энергетическая ценность</th>
                    <th>Удалить</th>
                    <th>Редактировать</th>
                </tr>
                {% for dish in dishes %}
                    <tr>
                        <form action="/remove_dish" method="post">
                            <input type="text" value="{{ dish.title }}" name="dishRemTitle" style="display: none">
                            <td id="imgTd"><img src="data:image/jpeg;base64,{{ dish.photo }}"></td>
                            <td>{{ dish.title }}</td>
                            <td>{{ dish.cost }}₽</td>
                            <td>{{ dish.structure }} каллорий</td>
                            <td><button type="submit"><img src="{{ url_for('static', filename='images/delete_icon.png') }}"></button></td>
                        </form>
                        <td><button><img src="{{ url_for('static', filename='images/edit_icon.png') }}" onclick="displayEditDish('{{ dish.title }}', '{{ dish.title }}', '{{ dish.cost }}', '{{ dish.structure }}')"></button></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="edit_dish_dialog">
        <h2>Редактирование блюда</h2>
        <form action="/edit_dish" method="post" enctype="multipart/form-data">
            <input type="text" name="dishOldTitle" id="dishOldTitle" style="display: none;">

            <label for="dishEditTitle">Название блюда</label>
            <input type="text" id="dishEditTitle" name="dishEditTitle" required>

            <label for="dishEditCost">Стоимость блюда</label>
            <input type="text" id="dishEditCost" name="dishEditCost" required>

            <label for="dishEditStructure">Состав блюда</label>
            <textarea id="dishEditStructure" name="dishEditStructure" required></textarea>

            <label for="dishEditImage">Фото блюда</label>
            <input type="file" id="dishEditImage" name="dishEditImage" accept="image/*">

            <input type="submit" value="Редактировать блюдо">
        </form>
        <button class="closeButton" onclick="closeEdit()">Закрыть</button>
    </div>



    <div class="mute"></div>

    <script src="{{ url_for('static', filename='js/cooker_account.js') }}"></script>
</body>

</html>