<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CubeFood</title>
    <link rel="icon" href="{{ url_for('static', filename='images/head_icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cooker_account.css') }}">
</head>

<body>
    <div class="adding_dish">
        <form action="/add_dish" method="post">
            <label for="dishTitle">Название блюда</label>
                <input type="text" id="dishTitle" name="dishTitle" required>
        
                <label for="dishStructure">Состав блюда</label>
                <textarea id="dishStructure" name="dishStructure" required></textarea>
        
                <label for="dishImage">Фото блюда</label>
                <input type="file" id="dishImage" name="dishImage" accept="image/*" required>

                <label for="dishCost">Стоимость блюда</label>
                <input type="text" id="dishCost" name="dishCost" required>
        
                <input type="submit" value="Добавить блюдо">
        </form>
    </div>
</body>

</html>