<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CubeFood</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/head_icon.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/deliverier_account.css') }}"
    />
  </head>

  <header>
    <a href="{{ url_for('index') }}" class="header_link">
      <img
        src="{{ url_for('static', filename='images/logo.png') }}"
        alt="CubeFood logo"
      />
    </a>
  </header>

  <body>
    <div class="info_window">
      <div class="block_title">
        <h2>Аккаунт</h2>
      </div>

      <img src="{{ url_for('static', filename='images/deliverier_icon.png') }}" id="deliverier_icon">

      <div class="text_info">
        <h3>{{ deliverier.fio }}</h3>
        <h4>{{ deliverier.login }}</h4>
      </div>



      <hr>
      <div class="block_title">
        <h2>Мои заказы</h2>
      </div>


      {% if orders %}
        {% for order in orders %}
          <div class="set_order_status">
            <form action="/set_order_status" method="post">
              <input id='orderId' type="text" name="orderId" value="{{ order._id }}" readonly style="display: none;">
              <input id='orderDate' type="text" name="orderDate" value="{{ order.date }}" readonly>
              <input id='orderCost' type="text" name="orderCost" value="{{ order.cost }}₽" readonly>
              <input type="text" id="orderAddress" name="orderAddress" value="Этаж {{ order.address.officeFloor }}, офис {{ order.address.officeNumber }}, место {{ order.address.placeNumber }}">
              {% if order.status == 'Готовится' %}
                <input type="text" name="orderStatus" value="Доставляется" style="display: none;">
                <input type="text" id="statusTypeInRender" value="Готовится"">
                <button type="submit">Взять заказ</button>
              {% elif order.status == 'Доставляется' %}
                <input type="text" name="orderStatus" value="Доставлено" style="display: none;">
                <input type="text" id="statusTypeInDelivery" value="Доставляется">
                <button type="submit">Доставлено</button>
              {% else %}
                <input type="text" id="statusTypeIsDelivered" name="orderStatus" value="Доставлено">
              {% endif %}
            </form>
          </div>
        {% endfor %}
      {% else %}
        <h5>Сегодня еще не было заказов!</h5>
      {% endif %}
  </div>
</body>
</html>
