<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация и авторизация</title>
    <link rel="icon" href="{{ url_for('static', filename='images/head_icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <!-- <link rel="stylesheet" href="../static/styles/index.css"> -->
</head>

<body>
    <img src="../static/images/logo.png" alt="logo" />
    <h1>Cube Food</h1>
    <div class="form-container">
        <div class="form">
            <h2>Регистрация</h2>
            <form action="/reg" method="post">
                <label for="registerFio">ФИО</label>
                <input type="text" id="registerFio" name="registerFio" required>
                <label for="registerEmail">Адрес электронной почты</label>
                <input type="email" id="registerEmail" name="registerEmail" required>
                <label for="registerPassword">Пароль</label>
                <input type="password" id="registerPassword" name="registerPassword" required>
                <input type="submit" value="Зарегистрироваться">
            </form>
        </div>

        <div class="form">
            <h2>Авторизация</h2>
            <form action="/log" method="post">
                <label for="loginEmail">Адрес электронной почты</label>
                <input type="email" id="loginEmail" name="loginEmail" required>
                <label for="loginPassword">Пароль</label>
                <input type="password" id="loginPassword" name="loginPassword" required>
                <input type="submit" value="Войти">
            </form>
        </div>
    </div>
</body>

</html>