<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/index.css') }}"
    />
  </head>
  <header>
    <a href="{{ url_for('index') }}">
      <img
        src="{{ url_for('static', filename='images/logo.png') }}"
        alt="CubeFood logo"
      />
    </a>
  </header>

  <body>
    <div class="form">
      <div class="form-toggle"></div>

      <!-- login form -->
      <div class="form-panel one">
        <div class="form-header">
          <h1>Авторизация</h1>
        </div>
        <div class="form-content">
          <form action="/log" method="post" class="log_form">
            <div class="form-group">
              <label for="logLogin">Логин</label>
              {% if auth_credits %}
              <input
                type="text"
                id="logLogin"
                name="logLogin"
                value="{{ auth_credits.login }}"
                required
              />
              {% else %}
              <input type="text" id="logLogin" name="logLogin" required />
              {% endif %}
            </div>

            <div class="form-group">
              <label for="logPassword">Пароль</label>
              {% if auth_credits %}
              <input
                type="password"
                id="logPassword"
                name="logPassword"
                value="{{ auth_credits.password }}"
                required
              />
              {% else %}
              <input
                type="password"
                id="logPassword"
                name="logPassword"
                required
              />
              {% endif %}
            </div>

            <div class="form-group">
              <button type="submit">Войти</button>
            </div>
          </form>
        </div>
      </div>

      <!-- registration form -->
      <div class="form-panel two">
        <div class="form-header">
          <h1>Регистрация</h1>
        </div>
        <div class="form-content">
          <form action="/reg" method="post" class="reg_form">
            <div class="form-group">
              <label for="regFio">ФИО</label>
              <input type="text" id="regFio" name="regFio" required />
            </div>

            <div class="form-group">
              <label for="regLogin">Логин</label>
              <input type="text" id="regLogin" name="regLogin" required />
            </div>

            <div class="form-group">
              <label for="regPassword">Пароль</label>
              <input
                type="password"
                id="regPassword"
                name="regPassword"
                required
              />
            </div>

            <div class="form-group">
              <button type="submit">Зарегистрироваться</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    {% if status[0] and not status[1] %}
      <p class="status_bad">{{ status[0] }}</p>
    {% elif status[1] %}
      <p class="status_good">{{ status[0] }}</p>
    {% endif %}

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://codepen.io/andytran/pen/vLmRVp.js"></script>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
