<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="icon" href="{{ url_for('static', filename='images/head_icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_account.css') }}">
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Логотип компании">
        <h1 class="company_name">CubeFood</h1>
        <button id="logoutButton">Выход</button>
    </header>
    <main>
        <section>
            <img id="user_img" src="{{ url_for('static', filename='images/user_icon.png') }}" alt="Аватар пользователя">
            <div class="user_info">
                <h2>{{ user.fio }}</h2>
                <p><span id="office">{{ user.office_name }}</span></p>
            </div>
        </section>
    </main>
    <main>
        <section>
            <form>
                <label class="checkbox style-e">
                    <input type="checkbox" /> Завтрак
                    <div class="checkbox__checkmark"></div>
                </label>
                <br>
                <label class="checkbox style-e">
                    <input type="checkbox" /> Обед
                    <div class="checkbox__checkmark"></div>
                </label>
            </form>
        </section>
    </main>
</body>

</html>