<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/worker_account.css') }}">
</head>
<header>
    <a href="{{ url_for('index') }}">
        <img src="../static/images/logo.png" alt="CubeFood logo">
    </a>
</header>
<body>
    <div id="info_window">
        <img src="{{ url_for('static', filename='images/worker_icon.png') }}" alt="Worker Icon" id="worker_icon">
        
        <div id="text_info">
            <h1>{{ worker.fio }}</h1>

            <h2>{{ worker.login }}</h2>
        </div>
    </div>
</body>
</html>