@font-face {
    font-family: "Minecraft";
    src: url("/static/fonts/minecraft.ttf");
}

@font-face {
    font-family: "Zelda";
    src: url("/static/fonts/zelda.ttf");
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}

header {
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
}

header img {
    max-width: 100px;
    height: auto;
}

main {
    margin: 10px;
    background-color: #1e1e1e;
    box-shadow: 0 0 15px rgb(223, 200, 47);
    border-radius: 20px;
}

h1 {
    margin-top: 10px;
    font-family: 'Minecraft', sans-serif;
}

h2 {
    font-family: 'Zelda', sans-serif;
}

.section_with_info {
    width: 45%;
    padding: 20px;
    background-color: #1e1e1e;
    align-items: center;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

img {
    max-width: 100px;
    height: auto;
}

#phone {
    font-weight: bold;
}

#admin_img {
    max-width: 100%;
    max-height: 200px;
    width: auto;
    height: auto;
    margin-left: 0;
    display: block;
}

.company_name {
    margin: 0;
}

.checkbox.style-e {
    display: inline-block;
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 2.5px;
}

.checkbox.style-e input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox.style-e input:checked~.checkbox__checkmark {
    background-color: #f7cb15;
}

.checkbox.style-e input:checked~.checkbox__checkmark:after {
    left: 21px;
}

.checkbox.style-e:hover input~.checkbox__checkmark {
    background-color: #eee;
}

.checkbox.style-e:hover input:checked~.checkbox__checkmark {
    background-color: #f7cb15;
}

.checkbox.style-e .checkbox__checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 22px;
    width: 40px;
    background-color: #eee;
    transition: background-color 0.25s ease;
    border-radius: 11px;
}

.checkbox.style-e .checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    width: 16px;
    height: 16px;
    display: block;
    background-color: #fff;
    border-radius: 50%;
    transition: left 0.25s ease;
}

.checkbox.style-e .checkbox__body {
    color: #333;
    line-height: 1.4;
    font-size: 16px;
    transition: color 0.25s ease;
}

label {
    margin: 10px;
}

.double-border-button {
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  padding: 10px 30px;
    position: absolute;
    top: 10px;
    right: 10px;
  border: 2px solid #f1c40f;
  color: #f1c40f;
  font-family: 'Minecraft', sans-serif;
  transition: .4s;
}

.double-border-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: .4s;
}

.double-border-button:hover:after {
  border-color: #f1c40f;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}

tr {
    width: 100%;
}

table {
    width: 100%;
}

td {
    vertical-align: top; /* Выравнивание содержимого ячейки вверх */
    width: 50%; /* Равномерное распределение по ширине таблицы (50% каждой ячейке) */
    padding: 10px;
}

.admin_info {
    max-width: 50%;
    display: block;
}

section {
    padding: 20px;
}

section h2 {
    margin-top: 0;
}

/* Стили для формы добавления сотрудника */
form#add_worker_form {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px; /* Максимальная ширина формы */
    margin: 0 auto; /* Центрирование формы */
    text-align: left;
}

form#add_worker_form h2 {
    font-family: 'Minecraft', sans-serif;
    margin-bottom: 20px;
}

form#add_worker_form label,
form#add_worker_form input {
    display: block;
    margin-bottom: 10px;
    max-width: 95%;
}

form#add_worker_form input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
}

form#add_worker_form input[type="submit"] {
    background-color: #ffcc00;
    color: #121212;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

/* Стили для формы удаления сотрудника (можно использовать те же стили, если они схожи) */
form#delete_worker_form {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px; /* Максимальная ширина формы */
    margin: 0 auto;
    text-align: left;
}

form#delete_worker_form h2 {
    font-family: 'Minecraft', sans-serif;
    margin-bottom: 20px;
}

form#delete_worker_form label,
form#delete_worker_form input {
    display: block;
    margin-bottom: 10px;
    max-width: 95%;
}

form#delete_worker_form input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
}

form#delete_worker_form input[type="submit"] {
    background-color: #ffcc00;
    color: #121212;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.order_button {
    background: #ffcc00;
    color: #121212;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 0 11% 0;
}