@font-face {
    font-family: "Minecraft";
    src: url("/static/fonts/minecraft.ttf");
}

@font-face {
    font-family: "Zelda";
    src: url("/static/fonts/zelda.ttf");
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}

header {
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
}

header img {
    max-width: 100px;
    height: auto;
}

main {
    margin: 10px;
    background-color: #1e1e1e;
    box-shadow: 0 0 15px rgb(223, 200, 47);
    border-radius: 20px;
}

h1 {
    margin-top: 10px;
    font-family: 'Minecraft', sans-serif;
}

h2 {
    font-family: 'Zelda', sans-serif;
    margin-top: 0;
}

.section_with_info {
    width: 100%;
    padding: 20px;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
}

#admin_img {
    max-width: 100%;
    max-height: 200px;
    width: auto;
    height: auto;
    margin-left: 0;
    display: block;
}

.company_name {
    margin: 0;
}

.double-border-button {
    text-decoration: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 2px solid #f1c40f;
    color: #f1c40f;
    font-family: 'Minecraft', sans-serif;
    transition: .4s;
    border-radius: 4px;
}

.double-border-button:hover {
    background-color: #f1c40f;
    color: #121212;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    vertical-align: top;
    padding: 10px;
    width: 50%;
}

form {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

form h2 {
    font-family: 'Minecraft', sans-serif;
    margin-bottom: 20px;
}

form label,
form input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

form input[type="email"] {
    padding: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #ffcc00;
    color: #121212;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.order_button {
    background: #ffcc00;
    color: #121212;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}