@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


html {
    --firstly-color: white;
    --secondary-color: rgba(91, 82, 212, 0.837);
    --thirdly-color: rgb(99, 96, 105);
    --fourly-color: rgba(74, 140, 245, 0.801);
}

header {
    height: 15vh;
    width: 100%;
    background-color: var(--fourly-color);
}

header img {
    height: 15vh;
    margin: auto;
    display: flex;
}

header a {
    height: 15vh;
    margin: 0 40%;
    display: flex;
}

body {
    background-image: url('../images/background.jpg');
    background-size: cover; /* опционально, чтобы изображение занимало весь фон */
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    margin: 20px;
}

.block_title {
    padding: 40px 10px;
    text-align: center;
} 

.block_title h2 {
    font-family: 'Merriweather', serif;
    position: relative;
    color: black;
    background: rgba(0, 0, 0, 0);
    font-size: 1.5em;
    font-weight: normal;
    padding: 10px 40px;
    display: inline-block;
    margin: 0;
    line-height: 1;
    border-radius: 5px;
}

.block_title h2:after {
    content: ""; 
    position: absolute;
    height: 0;
    width: 80%;
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
}

@media (max-width: 500px) {
    .block_title h2 {font-size: 1.8em;}
}

@media (max-width: 400px) {
    .block_title h2 {
        font-size: 1.5em;
        padding: 10px 30px;
    }
}

hr {
    border: 1px solid var(--thirdly-color);
}

.info_window {
    margin: 20px;
    padding: 5vh;
    border-radius: 10px;
}

#admin_icon {
    height: 20vh;
    display: flex;
    margin: auto;
}







/* управление меню */
.menu_list table {
    border: solid;
    border-color: var(--fourly-color);
    width: 75%;
    display: flex;
    margin: auto;
    background-color: rgba(0, 0, 0, 0);
}

.menu_list table th, td {
    border: solid;
    border-color: var(--fourly-color);
    padding: 10px;
    transition: 0.5s;
}

.menu_list td:hover, th:hover {
    background-color: rgba(0, 0, 0, 0)
}

.menu_list table img {
    width: 25%;
    display: flex;
    margin: auto;
}

.menu_list button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#imgTd {
    padding: 0;
}

#imgTd img {
    margin: 0;
    width: 100%;
}






/* добавление блюда в меню */
.adding_dish input, label, textarea {
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

.adding_dish input, .adding_dish textarea {
    margin: 5px 0 20px 0;
}

.adding_dish {
    display: flex;
    margin: auto;
    width: 30%;
}

.adding_dish form {
    width: 100%;
}





/* редактирование блюда */
.edit_dish_dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    z-index: 5000;
}

.edit_dish_dialog input, .edit_dish_dialog label, .edit_dish_dialog textarea, .edit_dish_dialog .closeButton {
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10%;
}

.edit_dish_dialog input, .edit_dish_dialog textarea, .edit_dish_dialog .closeButton {
    margin: 5px 0 20px 10%;
}

.edit_dish_dialog form {
    width: 80%;
}

.edit_dish_dialog .closeButton {
    width: 30%;
    margin-left: 35%;
}





/* управление курьерами */
.add_deliverier form, .remove_deliverier form {
    width: 50%;
    display: flex;
    margin: auto;
}

.add_deliverier input, .add_deliverier select, .remove_deliverier input, .remove_deliverier select {
    width: 50%;
    padding: 10px;
    border-radius: 10px 5px 5px 10px;
    background-color: white;
    margin: 3px 10px;
    border-color: black;
}

.add_deliverier button, .remove_deliverier button {
    margin-left: 20px;
    border-radius: 5px 10px 10px 5px;
    background-color: var(--fourly-color);
    border-style: solid;
    border-color: black;
    color: white;
    transition: 0.5s;
    margin: 3px 10px;
}

.add_deliverier form #deliverierLoginForAdd, .add_deliverier form select, .remove_deliverier form #deliverierLoginForRem, .remove_deliverier form select {
    border-radius: 5px;
    border-color: black;
}

.add_deliverier button:hover, .remove_deliverier button:hover {
    transform: scale(1.15);
    transition: 0.5s;
}

.no_user_to_set_label {
    margin-bottom: 20px;
}






/* форма по управлению заказами */
.give_order form {
    width: 60%;
    display: flex;
    margin: auto;
}

.give_order input, .give_order select {
    width: 100%;
    padding: 10px;
    border-radius: 10px 5px 5px 10px;
    background-color: white;
    margin: 3px 10px;
    border-color: black;
}

.give_order button {
    margin-left: 20px;
    border-radius: 5px 10px 10px 5px;
    background-color: var(--fourly-color);
    border-style: solid;
    border-color: black;
    color:white;
    transition: 0.5s;
    margin: 3px 10px;
}

.give_order form #userLoginForChange, .give_order form select {
    border-radius: 5px;
    border-color: black;
}

.give_order button:hover {
    transform: scale(1.15);
    transition: 0.5s;
}

.no_user_to_set_label {
    margin-bottom: 20px;
}

.give_order #cookerLogin {
    border-radius: 5px 10px 10px 5px;
}

.give_order #cookerLogin, .give_order #cookerFio {
    background-color: var(--thirdly-color);
    color: white;
}

#orderDate, #orderCost {
    border-radius: 5px;
}

#orderStatus {
    border-radius: 5px 10px 10px 5px;
}





.mute {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Затемнение с использованием полупрозрачного цвета */
    z-index: 900;
}