@font-face {
    font-family: 'Hylia';
    src: url('../fonts/Hylia.ttf') format('truetype');
}

html {
    --firstly-color: white;
    --secondary-color: rgba(91, 82, 212, 0.837);
    --thirdly-color: rgb(63, 59, 71);
    --fourly-color: rgba(74, 140, 245, 0.801);
}
header {
    height: 15vh;
    width: 100%;
    background-color: var(--fourly-color);
}

header img {
    height: 100%;
    margin: auto;
    display: flex;
}

header a {
    height: 15vh;
    margin: 0 40%;
    display: flex;
}

body {
    background-image: url('../images/background.jpg');
    background-size: cover; /* опционально, чтобы изображение занимало весь фон */
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    font-size: 25px;
    font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    margin: 20px;
}

.block_title {
    padding: 40px 10px;
    text-align: center;
} 

.block_title h2 {
    font-family: 'Merriweather', serif;
    position: relative;
    color: black;
    background: rgba(0, 0, 0, 0);
    font-size: 1.5em;
    font-weight: normal;
    padding: 10px 40px;
    display: inline-block;
    margin: 0;
    line-height: 1;
    border-radius: 5px;
};


@media (max-width: 500px) {
    .block_title h2 {font-size: 1.8em;}
}

@media (max-width: 400px) {
    .block_title h2 {
        font-size: 1.5em;
        padding: 10px 30px;
    }
}

hr {
    border: 1px solid var(--thirdly-color);
}

.info_window {
    margin: 20px;
    padding: 5vh;
    border-radius: 10px;
}

#deliverier_icon {
    height: 20vh;
    display: flex;
    margin: auto;
}






/* форма управления заказми */
.set_order_status form {
    width: 70%;
    display: flex;
    margin: auto;
}

.set_order_status input, .set_order_status select {
    padding: 10px;
    border-radius: 10px 5px 5px 10px;
    background-color: white;
    margin: 3px 10px;
    border-color: black;
    font-size: 18px;
}

.set_order_status button {
    margin-left: 20px;
    border-radius: 5px 10px 10px 5px;
    background-color: var(--fourly-color);
    border-style: solid;
    border-color: black;
    color: white;
    transition: 0.5s;
    margin: 3px 10px;
}

.set_order_status form #orderCost, .set_order_status form select {
    border-radius: 5px;
    border-color: black;
}

.set_order_status button:hover {
    transform: scale(1.15);
    transition: 0.5s;
}

.no_user_to_set_label {
    margin-bottom: 20px;
}

.set_order_status button {
    border-radius: 5px 10px 10px 5px;
}

#statusTypeInRender, #statusTypeInDelivery {
    border-radius: 5px;
}

#statusTypeIsDelivered {
    border-radius: 5px 10px 10px 5px;
}

.set_order_status form button {
    width: 20%;
    font-size: 18px;
}
