@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

html {
    --firstly-color: white;
    --secondary-color: rgba(91, 82, 212, 0.837);
    --thirdly-color: rgb(99, 96, 105);
    --fourly-color: rgba(74, 140, 245, 0.801);
}

header {
    height: 15vh;
    width: 100%;
    background-color: var(--fourly-color);
}

header img {
    height: 100%;
    margin: auto;
    display: flex;
}

header a {
    height: 15vh;
    margin: 0 40%;
    display: flex;
}

body {
    background-image: url('../images/background.jpg');
    background-size: cover; /* опционально, чтобы изображение занимало весь фон */
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    margin: 20px;
    font-family: 'Playfair Display', serif;

}

.block_title {
    padding: 40px 10px;
    text-align: center;
} 

.block_title h2 {
    font-family: 'Merriweather', serif;
    position: relative;
    color: black;
    background: rgba(0, 0, 0, 0);
    font-size: 1.5em;
    font-weight: normal;
    padding: 10px 40px;
    display: inline-block;
    margin: 0;
    line-height: 1;
    border-radius: 5px;
}

.block_title h2:after {
    content: ""; 
    position: absolute;
    height: 0;
    width: 80%;
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
}

@media (max-width: 500px) {
    .block_title h2 {font-size: 1.8em;}
}

@media (max-width: 400px) {
    .block_title h2 {
        font-size: 1.5em;
        padding: 10px 30px;
    }
}

hr {
    height: 1px;
    color: var(--thirdly-color);
    background-color: var(--thirdly-color);
    width: 50%;
}

.info_window {
    margin: 20px;
    padding: 5vh;
    border-radius: 10px;
}

#worker_icon {
    height: 20vh;
    display: flex;
    margin: auto;
}






/* стили для меню */
.menu {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5vh;
    padding-top: 0;
}

.menu-item {
    width: 40vh;
    margin: 20px 5px;
    text-align: center;
    background-color: var(--thirdly-color);
    position: relative;
    transition: 0.75s;
    border-radius: 20px;
}

.menu-item:hover {
    transform: scale(1.25);
    transition: 0.75s;
}

.menu-item-image {
    width: 40vh;
    height: 40vh;
    border-radius: 20px;
    object-fit: cover;

}

.menu-item-title {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 18px;
    color: white;
    margin: 0;
}

.menu-item-description, .menu-item-price {
    position: absolute;
    left: 5%;
    font-size: 14px;
    color: white;
    margin: 10px 0;
}

.text-shadow {
    background-color: rgba(0, 0, 0, 0.70);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    border-radius: 10% 10% 0 0;
}

.menu-item-text {
    background-color: black;
}

.menu-item-price {
    top: 11%;
}

.menu-item-description {
    top: 17.5%;
}

.add-to-cart-btn-plus {
    padding: 9px 13.5px;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--fourly-color);
    border: solid;
    border-radius: 10px;
    border-color: var(--fourly-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-btn-plus:hover {
    background-color: var(--fourly-color);
    color: white;
}

.menu-item .add-to-cart-btn {
    width: 50%;
    position: absolute;
    top: 65%;
    left: 25%;
}

.open_cart {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 0;
    bottom: 0;
    background-color: var(--fourly-color);
    border-radius: 50%;
    margin: 25px;
    padding: 15px;
    transition: 0.75s;
}

.open_cart:hover {
    transform: scale(1.5);
    transition: 0.75s;
}

.menu-item-score {
    color: white;
    margin: 0;
    margin-bottom: 5px;
}





/* стили для корзины */
.cart-popup {
    position: fixed;
    top: 5%;
    left: 15%;
	width: 70%;
	height: 80%;
	background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #1687d933;
    display: none;
    z-index: 1000;
    overflow: auto;
    padding: 20px;
}

.cart-header {
	margin: auto;
	width: 90%;
	height: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart-header h3 {
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #2F3841;
}

.cart-header h5 {
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
	border-bottom: 1px solid #E44C4C;
}

.cart-info {
	margin: auto;
	width: 90%;
	height: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.image-box {
	width: 15%;
	text-align: center;
}

.image-box img {
    width: 30vh;
    height: 40vh;
    border-radius: 20px;
    object-fit: cover;
}

.about {
	height: 100%;
	width: 24%;
}

.title {
	padding-top: 10px;
	/* line-height: 10px; */
	font-size: 32px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #202020;
}

.subtitle {
	line-height: 10px;
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #909090;
}

.counter {
	width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
	cursor: pointer;
}

.plus {
    background-color: rgb(87, 184, 87);
    color: white;
}

.count {
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #202020;
}

.prices {
	height: 100%;
	text-align: right;
}

.amount {
	padding-top: 20px;
	font-size: 26px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #202020;
}

.remove {
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
}

.remove img {
    width: 10px;
}

.remove button {
    border: none;
    background-color: white;
}

.checkout {
	float: right;
	margin-right: 5%;
	width: 28%;
}

.total {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.subtotal {
	font-size: 22px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #202020;
}

.items {
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #909090;
	line-height: 10px;
}

.total-amount {
	font-size: 36px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
}

.button {
	margin-top: 10px;
	width: 100%;
	height: 40px;
	border: none;
	/* background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB); */
    background-color: var(--fourly-color);
	border-radius: 20px;
	cursor: pointer;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: white;
}

.close_btn img {
    position: absolute;
    right: 5%;
    top: 5%;
    height: 30px;
    width: 30px;
}

.close_btn {
    border: None;
    background-color: white;
    border-color: white;
}

.clear_btn img {
    position: absolute;
    right: 5%;
    top: 15%;
    height: 30px;
    width: 30px;
}

.clear_btn {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}









.mute {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Затемнение с использованием полупрозрачного цвета */
    z-index: 900;
}





/* слайдер для выбора типа заказа */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--fourly-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--fourly-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.with_delivery {
    align-items: center;
    display: flex;
}

.with_delivery h5 {
    margin: 0 10px 0 0;
}

.total #placeNumber {
    margin-bottom: 40px;
}

.total input {
    border-radius: 5px;
}





/* отслеживание заказов пользователя */
.my_orders form {
    width: 50%;
    display: flex;
    margin: auto;
}

.my_orders input {
    width: 100%;
    padding: 10px;
    border-radius: 10px 5px 5px 10px;
    background-color: white;
    margin: 3px 10px;
    border-color: black;
}

.my_orders #orderDate {
    border-radius: 5px 10px 10px 5px;
}

.my_orders #orderCost {
    border-radius: 5px;
    background-color: white;
    color: white;
    color: black;
}

.my_orders #orderStatus {
    border-radius: 5px 10px 10px 5px;
}