html {
    --firstly-color: white;
    --secondary-color: rgba(91, 82, 212, 0.837);
    --thirdly-color: rgb(63, 59, 71);
    --text-color: white;
}

header {
    height: 15vh;
    width: 100%;
    background-color: var(--secondary-color)
}

header img {
    height: 15vh;
    margin: auto;
    display: flex;
}

body {
    background-image: url('../images/background.jpg');
    background-size: cover; /* опционально, чтобы изображение занимало весь фон */
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}