/* html {
    --firstly-color: white;
    --firstly-color: rgba(91, 82, 212, 0.837);
    --secondary-color: rgb(63, 59, 71);
    --text-color: white;
} */
html {
    --firstly-color: rgba(91, 82, 212, 0.837);
    --secondary-color: rgb(63, 59, 71);
    --thirdly-color: #43d8c9d6;
    --text-color: white;
}

header {
    height: 15vh;
    width: 100%;
    background-color: var(--firstly-color);
}

header img {
    height: 15vh;
    margin: auto;
    display: flex;
}

body {
    background-image: url('../images/background.jpg');
    background-size: cover; /* опционально, чтобы изображение занимало весь фон */
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    font-size: 25px;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    margin: 20px;
}

.block_title {
    padding: 40px 10px;
    text-align: center;
} 

.block_title h2 {
    font-family: 'Merriweather', serif;
    position: relative;
    color: #FCF2E5;
    background: var(--secondary-color);
    font-size: 1.5em;
    font-weight: normal;
    padding: 10px 40px;
    display: inline-block;
    margin: 0;
    line-height: 1;
}

.block_title h2:after {
    content: ""; 
    position: absolute;
    height: 0;
    width: 80%;
    border-top: 10px solid var(--secondary-color);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
}

@media (max-width: 500px) {
    .block_title h2 {font-size: 1.8em;}
}

@media (max-width: 400px) {
    .block_title h2 {
        font-size: 1.5em;
        padding: 10px 30px;
    }
}

hr {
    border: 1px solid var(--secondary-color);
}

.info_window {
    margin: 20px;
    background-color: var(--firstly-color);
    padding: 5vh;
    border-radius: 10px;
}

#worker_icon {
    height: 20vh;
    display: flex;
    margin: auto;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5vh;
}

.menu-item {
    width: 20%;
    margin: 20px 5px;
    text-align: center;
    background-color: var(--secondary-color);
    position: relative;
    transition: 0.75s;
    border-radius: 20px;
}

.menu-item:hover {
    transform: scale(1.25);
    transition: 0.75s;
}

.menu-item-image {
    width: 100%;
    height: auto;
    border-radius: 20px;

}

.menu-item-title {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 18px;
    color: white;
    margin: 0;
}

.menu-item-description, .menu-item-price {
    position: absolute;
    left: 5%;
    font-size: 14px;
    color: white;
    margin: 0;
}

.menu-item-price {
    top: 12.5%;
}

.menu-item-description {
    top: 20%;
}

.add-to-cart-btn {
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--thirdly-color);
    border: solid;
    border-radius: 4px;
    border-color: var(--thirdly-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
    background-color: var(--thirdly-color);
    color: white;
}

.menu-item .add-to-cart-btn {
    width: 50%;
    position: absolute;
    top: 65%;
    left: 25%;
}

.open_cart {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 0;
    bottom: 0;
    background-color: var(--thirdly-color);
    border-radius: 50%;
    margin: 25px;
    padding: 15px;
    transition: 0.75s;
}

.open_cart:hover {
    transform: scale(1.5);
    transition: 0.75s;
}

#cart-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

input {
    padding: 2px;
    width: 30px;
}

#plusButton,
#minusButton {
    font-size: 16px;
    cursor: pointer;
}
