body {
    font-family: MinecraftRus;
    background-color: #333;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column; /* Добавляем вертикальное выравнивание */
    align-items: center;
    height: 100vh;
}

.company-name {
    font-size: 50px; /* Размер текста названия компании */
    color: yellow; /* Желтый цвет для названия компании */
    margin-bottom: 3%; /* Отступ снизу */
    margin-top: 5px;
}

.login-form {
    background-color: #444;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 2px solid yellow; /* Добавляем желтую обводку */
    width: 30%;
    height: 40%;
}

.login-form h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.form-group input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.form-group input:focus {
    outline: none;
    border-color: #007BFF;
}

.btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    font-family: MinecraftRus;
    transition: 1s;
}

.btn:hover {
    background-color: #0056b3;
    transition: 1s;
}

.logo {
    margin-top: 3%;
}
